<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="shortcut icon" href="http://faviconist.com/icons/81d6d44b8c00e3c149229f6c4c8d0fc3/favicon.ico" />
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" />
  <meta name="description" content="<%= yield(:description) %>">
  <meta name="keywords" content="<%= yield(:keywords) %>">
  <meta name="author" content="Trevor Hinesley">
  <meta name="application-name" content="<%= yield(:title) %>">
  <meta property="og:title" content="<%= yield(:title) %>" /> 
  <meta property="og:description" content="<%= yield(:description) %>" />  
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en" />
  <html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">

    <!-- Lato Google Font - For Theme -->        
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Raleway:200' rel='stylesheet' type='text/css'>
  <!-- Default Theme Style -->
  <link href="<%=asset_path('theme-light.css')%>" rel="stylesheet" media="screen" id="skin">
  <!-- Theme Color  options - alizarin.css, belize-hole.css, carrot.css, turquoise.css, wisteria.css-->
  <link href="<%=asset_path('theme-belize-hole.css')%>" rel="stylesheet" media="screen" id="swatches">


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
  <![endif]-->
</head>