<%- title "BailBetter" %>
<%- description "BailBetter is the all-in-one, truly simple bail bonds solution." %>
<%- keywords "Bail Better, Bail, Better, Bail Bonds, Nashville, TN, Tennessee, Trevor, Hinesley, Trevor Hinesley, Brian, Hood, Brian Hood, Software, Solutions, SaaS, Software As A Service" %>
<div class="container">
  <div class="row">        
  <header id="logo">
            <div class="col-md-12 col-sm-12">
                <a href="#" title="its beta">BailBetter</a>
            </div><!--/12-->
  </header>

        <section id="marketing-text">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                        <img class="img-responsive" src="<%=asset_path('BailBetter16x9.png')%>"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h1>Finally.</h1>
                        <p>The all-in-one, <em>truly simple</em> bail bonds solution has arrived.</p>
                    </div>
                </div>
            </div><!--12-->
        </section><!--/marketing-text-->  

        <section id="subscribe" class="clearfix">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                 <div class="row">
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form role="form" action="http://bailbetter.us3.list-manage1.com/subscribe/post?u=d5fb4ecb0ac717c0bfb85c186&id=72d7d32415" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="form-group mc-field-group col-md-7 col-sm-7">
                                <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control input-lg required email" placeholder="Email Address" >
                            </div>
                            <div class="form-group col-md-5 col-sm-5">
                                <button type="submit" class="btn btn-lg btn-theme col-md-12 col-xs-12" id="mc-embedded-subscribe">Subscribe</button>
                            </div>
                        </form>
                    </div><!--mc_embed_signup-->
                    <!--End MailChimp Signup Form-->
                </div><!--row-->
            </div><!--/6-->
        </section><!--subscribe-->  
        
     
        <section id="features">
            <div class="col-md-3 col-sm-3">
                <div class="feature-box">
                    <%=fa_icon "users"%>                           
                    <h2>Agent Overview</h2>
                    <p>See an overview of how your agents are doing, or look at them individually.</p>
                </div><!--feature-box-->
            </div><!--/3-->
            
            <div class="col-md-3 col-sm-3">
                <div class="feature-box">
                    <%=fa_icon "money"%>                             
                    <h2>Bonds</h2>
                    <p>The obvious&mdash;keep track of every bond and defendant. Automatic alerts keep you up-to-date on payments and court dates.</p>
                </div><!--feature-box-->
            </div><!--/3-->
            
            <div class="col-md-3 col-sm-3">
                <div class="feature-box">
                    <%=fa_icon "bar-chart-o"%>                              
                    <h2>Metrics &amp; Reports</h2>
                    <p>View how your company is doing by day, week, month, year or whatever you want. Reports can be generated automatically as well.</p>
                </div><!--feature-box-->
            </div><!--/3-->
            
            <div class="col-md-3 col-sm-3">
                <div class="feature-box">
                    <%=fa_icon "thumbs-up"%>                           
                    <h2>Simple, Simple, Simple</h2>
                    <p>The features you need, and nothing more. Don't waste time sifting through unused chaos.</p>
                </div><!--feature-box-->
            </div><!--/3-->
        </section><!--features-->


    </div><!--/row-->
</div><!--/container-->